/* .bigtext{
    height: auto;
    width: 72.11%;
    border: white solid 3px;
    background-color: olive;
    display: inline-block;
    font-size: 45px;
    font-family: 'Permanent Marker';
    overflow-wrap: break-word;
} */
.bigtext{
    flex-grow: 2;
    height: auto;
    width: 72.11%;
    background-image: linear-gradient(to right, red , yellow);
    font-size: 45px;
    font-family: 'Permanent Marker';
    border: white solid 3px;
    overflow-wrap: break-word;
    padding: 10px;
}