.bigboxwrapper{
    flex-grow: 2;
    height: auto;
    width: 72.11%;
    background-image: linear-gradient(to right, red , yellow);
    
}

.bigtext{
    overflow-wrap: break-word;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 30px;    
}

.bigtitle{
    font-family: 'Permanent Marker';
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
}