.paymentWrapper{
    display: grid;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom right, red, yellow);
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "shipping order"
    "billing order"
    "cc total"
    "footer footer";
}
.shipping{
    grid-area: shipping;
    border: white solid 3px;
}
.billing{
    grid-area: billing;
    border: white solid 3px;
}
.cc{
    grid-area: cc;
    border: white solid 3px;
}
.order{
    grid-area: order;
    border: white solid 3px;
}
.total{
    grid-area: total;
    border: white solid 3px;
}
.footerwrapper{
    grid-area: footer;
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100%;
    grid-template-areas: 
    "footlogo links1 links2";
  }
.footlogo{
    grid-area: footlogo;
    background-color: #333;
}
.footlogo > img{
    margin-left: 230px;
}
.footlinks1{
    grid-area: links1;
    background-color: #333;
    color: white;
    padding: 15px;
}

.footlinks2{
    grid-area: links2;
    background-color: #333;
    color: white;
    padding: 15px;
}
.footlinks2 > a:link{
    color:  maroon;
}
.footlinks2 > a:visited{
    color:  black;
}
.footlinks2 > a:hover{
    color:  white;
}
.footcopyw{
    grid-area: copyw;
    background-color: #333;
    color: white

}