.container-land {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
    grid-template-rows: 30% 30% 100% 110% 50% 25%;
    grid-template-areas: 
      "pic1 logo logo logo pic2"
      "pic1 logo logo logo pic2"
      "tag tag tag tag tag"
      "desc desc desc desc desc"
      "test1 test1 . test2 test2"
      "footer footer footer footer footer"
      
  }
  .pic1{
      grid-area: pic1;
      background-color: thistle;
      border: white solid 3px;
  }
  .pic2{
      grid-area: pic2;
      background-color: yellow;
      border: white solid 3px;
  }
  .tagline{
      grid-area: tag;
      background-color: slategray;
      border: white solid 3px;
  }
  .titlelanding{
      grid-area: title;
      background-color: violet;
      border: white solid 3px;
  }
  .logolanding{
    grid-area: logo;
    background-color: tomato;
    border: white solid 3px;
  }
  .testimonial1{
      grid-area: test1;
      background-color: yellowgreen;
      border: white solid 3px;
  }
  .testimonial2{
    grid-area: test2;
    background-color: khaki;
    border: white solid 3px;
}
  .description{
      grid-area: desc;
      background-color: navy;
  }
  .footerwrapper{
    grid-area: footer;
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100%;
    grid-template-areas: 
    "footlogo links1 links2";
  }
.footlogo{
    grid-area: footlogo;
    background-color: #333;
}
.footlogo > img{
    margin-left: 230px;
}
.footlinks1{
    grid-area: links1;
    background-color: #333;
    color: white;
    padding: 15px;
}

.footlinks2{
    grid-area: links2;
    background-color: #333;
    color: white;
    padding: 15px;
}
.footlinks2 > a:link{
    color:  maroon;
}
.footlinks2 > a:visited{
    color:  black;
}
.footlinks2 > a:hover{
    color:  white;
}
.footcopyw{
    grid-area: copyw;
    background-color: #333;
    color: white

}