.pic1{
    background-image: url("https://i.imgur.com/ADwW0kN.jpg?1");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;    
}
.pic1 > img{
    height: 100%;
    width: 100%;
    transition: all .5s;
}
.pic1:hover img,
.pic1:focus img {
  transform: scale(1.2);
}
.logolanding{
    background-image: url("https://i.imgur.com/1Cug7mw.jpg?1");
    background-size: cover;
}
.logolanding > img{
    transition: all .5s;
}
.logolanding:hover img,
.logolanding:focus img {
  transform: scale(1.2);
}

.pic2{
    background-image: url("https://i.imgur.com/7LsQ6M4.jpg?1");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.pic2 > img{
    height: 100%;
    width: 100%;
    transition: all .5s;
}

.pic2:hover img,
.pic2:focus img {
  transform: scale(1.2);
}
.titlelanding{
    font-size: 70px;
    text-align: center;
}
.logolanding > img{
    display: block;
    margin: auto;
    height: 100%;
}
.tagline{
    background-image: url("https://i.imgur.com/NkX3iQc.jpg?1");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.tagline > img{
    width: 100%;
    display: flex;
}
.tagline > p{
    text-align: center;
    font-size: 50px;
    font-family: 'Permanent Marker';
    
}
.testimonial{
    display: inline-flex;
}

