.comic {
    align-items: center;
    margin: 50px 50px 50px 50px;
}

.studentCard{
    
  height: 343px;
  width: 270px;
  background-size: cover;
}

.student1{
  background-image: url('https://i.imgur.com/fgNE5am.jpg')
}

.student2{
  background-image: url('https://i.imgur.com/oCxPySI.png')
}

.student3{
  background-image: url('https://i.imgur.com/G2fOqNf.jpg?1');
}

.student4{
  background-image: url('https://i.imgur.com/eH98nvS.jpg')
}

.student5{
  background-image: url('https://i.imgur.com/S1RYyP1.png')
}

.student-card-container{
  display: inline-flex;
}

.heroCard{
 
}

.social-icons {
    box-sizing: border-box;
    display: block;
    width: 101%;
    background-color: gray;
  }
  
  .social-icons a {
    display: inline-block;
    height: 11.5rem;
    width: 11.5rem;
    background-color: #495057;
    margin: 6px 0px 0px 0px;
    color: #fff!important;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin-right: 1rem;
  }
  
  .social-icons a:hover {
    background-color: #BD5D38;
  }

  .fab {
    font-size: 101px;
    margin: 45px 0px 0px 0px;
  }

  .far {
    font-size: 101px;
    margin: 45px 0px 0px 0px;
  }