.summaryWrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80% 80% 80%;
    grid-template-areas: 
    "sumShip"
    "sumBill"
    "sumHero";
}
.sumShip{
    grid-area: sumShip;
    padding: 15px;
}
.sumBill{
    grid-area: sumBill;
    padding: 15px;
}
.sumHero{
    grid-area: sumHero;
    padding: 15px;
    margin-bottom: -266px;
}